body {
  	color: #71C9CE;
	font-family: "Helvetica";
	font size: 45px;
	font-weight: 400px;
	text-align: center;
}

a 
{
  	color: #71C9CE;
	font-family: "Helvetica";
	font size: 45px;
	font-weight: 400px;
	text-decoration: none;
}