extends layout
block content

	nav <a href="seccion1">Ir a la secci贸n 1</a>
		<a href="seccion2">Ir a la secci贸n 2</a>
		<a href="seccion3">Ir a la secci贸n 3</a>
		<a href="seccion4">Ir a la secci贸n 4</a>